---
---

@import "{{ site.theme }}";


/* The navigation bar */
.navbar {
  z-index: 9999; /* Stop body content from overlapping navbar */
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0px; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  height: 40px;
  text-align: center;
  list-style: none;
}

.navbar li {
  display: inline-block;
  margin-top: 10px;
}

/* Links inside the navbar */
.navbar a {
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}

.main {
  /* margin-top: 30px; */
}

.img {
  box-shadow: none !important;
}